:global(.milkdown) {
  --crepe-color-background: var(--mantine-color-body);
  --crepe-color-on-background: var(--mantine-color-text);
  --crepe-color-outline: #808080;
  --crepe-color-primary: var(--mantine-color-blue-light-color);
  --crepe-color-secondary: var(--mantine-color-gray-light);
  --crepe-color-inline-code: var(--mantine-color-blue-light-color);
  --crepe-color-selected: var(--mantine-color-blue-light-hover);
  --crepe-color-inline-area: var(--mantine-color-blue-light);
  --crepe-base-font-size: 16px;
  --crepe-font-title: serif;
  --crepe-font-default: sans-serif;
  --crepe-font-code: monospace;

  * {
    line-height: 1.5 !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0 !important;
    padding: 4px 0 !important;
    font-weight: 400 !important;
    border-bottom: 1px solid var(--app-shell-border-color);
  }

  h1 { font-size: 2em    !important; }
  h2 { font-size: 1.75em !important; }
  h3 { font-size: 1.5em  !important; }
  h4 { font-size: 1.3em  !important; }
  h5 { font-size: 1.15em !important; }
  h6 { font-size: 1em    !important; }

  blockquote {
    padding-left: 34px !important;
    font-style: italic;
  }

  hr {
    background-color: var(--app-shell-border-color) !important;
  }

  th,
  td {
    border: 1px solid var(--app-shell-border-color) !important;
  }

  :global(.ProseMirror) {
    padding: 1rem;
  }

  :global(.operation-item) {
    &:hover {
      background-color: rgba(80, 80, 80, 0.1) !important;
    }
  }

  :global(.language-list) {
    color: var(--crepe-color-on-surface);
  }

  :global(.milkdown-slash-menu .tab-group ul li.selected) {
    color: var(--mantine-color-blue-light-color);
  }

  :global(.tools-button-group) {
    button {
      background-color: transparent !important;
    }
  }

  :global(.confirm) {
    background-color: transparent !important;
  }

  :global(.link-display) {
    color: #abb2bf !important;
  }

  :global(.link-edit > input) {
    color: #abb2bf !important;
  }

  :global(.katex-display) {
    color: #abb2bf;
  }

  :global(.milkdown-latex-inline-edit) {
    color: #abb2bf;
  }

  :global(.uploader > .milkdown-icon) {
    color: #339af0;
  }

  :global(.confirm > .milkdown-icon) {
    color: #339af0;
  }

  :global(.link-input-area) {
    color: #abb2bf !important;
  }

  :global(.link-importer > .placeholder > .text) {
    color: #abb2bf;
  }

  :global(.milkdown-image-block .link-importer .uploader) {
    display: none !important;
  }

  :global(.milkdown-image-block .link-importer .placeholder .text) {
    margin-left: 0 !important;

    &::before {
      content: "Type image URL ";
    }
  }

  :global(.image-wrapper .operation-item) {
    &:hover {
      background-color: var(--crepe-color-inverse) !important;
    }
  }
}
