:global(.prose) {
  * {
    line-height: 1.5;
  }

  // h6,
  // h5,
  // h4,
  // h3,
  h2,
  h1 {
    border-bottom: 1px solid var(--mantine-color-default-border);
  }

  hr {
    border-color: var(--mantine-color-default-border);
  }

  blockquote {
    border-color: var(--mantine-color-dark-light-color);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  h1 { font-size: 2rem;     }
  h2 { font-size: 1.5rem;   }
  h3 { font-size: 1.25rem;  }
  h4 { font-size: 1rem;     }
  h5 { font-size: 0.875rem; }
  h6 { font-size: 0.75rem;  }

  :not(div) {
    margin-top: 1rem;
    margin-bottom: 1rem;

    &:first-child {
      margin-top: 0;
    }
  }

  ul,
  ol,
  blockquote {
    padding-inline-start: 1.5rem;
  }

  ul[data-type="taskList"] {
    padding-inline-start: 0;

    > li[data-checked] {
      display: flex;
      gap: 1rem;
      padding-inline-start: 0.25rem;

      > label,
      > label > input,
      > div > p {
        margin-bottom: 0;
      }

      > label > input {
        transform: scale(1.25);
      }
    }
  }

  li::marker {
    color: var(--mantine-color-dark-light-color);
  }

  pre {
    padding: 1rem;
  }

  a {
    cursor: pointer;

    &:link {
      color: #9E9EFF;
    }

    &:visited {
      color: #D0ADF0;
    }
  }
}
