:global(.prose) {
  * {
    line-height: 1.5;
  }

  // h6,
  // h5,
  // h4,
  // h3,
  // h2,
  h1 {
    border-bottom: 1px solid var(--tw-prose-headings);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  h1 { font-size: 2rem;     }
  h2 { font-size: 1.5rem;   }
  h3 { font-size: 1.25rem;  }
  h4 { font-size: 1rem;     }
  h5 { font-size: 0.875rem; }
  h6 { font-size: 0.75rem;  }

  :not(div) {
    margin-top: 1rem;
    margin-bottom: 1rem;

    &:first-child {
      margin-top: 0;
    }
  }

  ul,
  ol,
  blockquote {
    padding-inline-start: 1.5rem;
  }

  pre {
    padding: 1rem;
  }
}
