BASE_URL=http://dev.markour.space:3000
TURSO_DB_URL=file:./src/db/db.sqlite
TURSO_AUTH_TOKEN=
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://dev.markour.space:3000/api/auth/google/callback
